.catalog {
  padding-bottom: 90px;
  &__wrapper {
    display: none;
    &_active {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(270px, auto));
      gap: 20px;
    }
  }
  &-item {
    padding: 20px;
    border: 2px solid #e8e8e8;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    &__wrapper {
      width: calc(200% + 20px);
      display: flex;
      gap: 20px;
      transition: 0.3s all;
      &_about {
        transform: translateX(calc(-50% - 10px));
      }
    }
    &__main {
      width: 50%;
      img {
        min-height: 200px;
      }
    }
    &__about {
      width: 50%;
      position: relative;
      ul {
        li {
          padding-left: 10px;
          font-size: 14px;
          line-height: 21px;
          color: #555555;
          position: relative;
          text-align: left;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 7px;
            width: 5px;
            height: 5px;
            background-color: red;
          }
        }
      }
    }
    &__subtitle {
      margin: 15px 0;
      font-size: 16px;
      font-weight: 700;
    }
    &__descr {
      font-size: 14px;
    }
    &__link {
      color: $mainC;
      text-transform: uppercase;
      text-decoration: underline;
      margin-top: 10px;
      cursor: pointer;
    }
    &__linkback {
      color: $mainC;
      text-transform: uppercase;
      text-decoration: underline;
      cursor: pointer;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &__devider {
      width: 100%;
      height: 1px;
      background-color: #e8e8e8;
      margin: 17px 0;
    }
    &__footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__prices {
      text-align: left;
    }
    &__oldprice {
      color: #555555;
      font-size: 14px;
      text-decoration: line-through;
    }
    &__price {
      font-size: 20px;
      font-weight: 700;
    }
  }
  &__tabs {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 55px;
    cursor: pointer;
  }
  &__tab {
    width: 220px;
    height: 50px;
    border: 2px solid #d0d0d0;
    font-size: 18px;
    margin: 0 5px;
    text-transform: uppercase;
    transform: skewX(-25deg);
    &_active {
      background-color: $mainC;
      border: none;
      color: #fff;
    }
    &:hover {
      box-shadow: 3px 3px 20px $mainC;
    }
    div {
      transform: skewX(25deg);
      line-height: 50px;
    }
  }
}

@media (max-width: 1199px) {
  .catalog {
    padding-bottom: 80px;
    &-item {
      padding: 10px;
    }
  }
}

@media (max-width: 991px) {
  .catalog {
    padding-bottom: 70px;
    &__tab {
      width: 200px;
    }
  }
}

@media (max-width: 575px) {
  .catalog {
    padding-bottom: 50px;
    &__tabs {
      margin: 20px 0;
    }
    &__tab {
      width: 125px;
      height: 30px;
      font-size: 10px;
      div {
        line-height: 30px;
      }
    }
  }
}
